name: Metrics
on: 
  schedule: 
    - cron: "0 0 * * *"
  workflow_dispatch:
  push: 
    branches: [main, master]

jobs:
  github-metrics:  
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps: 
      - uses: lowlighter/metrics@latest
        with: 
          token: ${{ secrets. METRICS_TOKEN }}
          user:  ads6yy
          template:  classic
          base: header, activity, community, repositories, metadata
          
          plugin_lines: yes
          
          plugin_calendar: yes
          plugin_calendar_limit: 1

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          
          plugin_notable: yes
          plugin_notable_indepth: yes
          plugin_notable_repositories: yes
          
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_threshold:  C
