name: Metrics
on: 
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches: [main, master]

jobs:
  github-metrics: 
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ads6yy
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_lines:  yes
          plugin_isocalendar: yes
