name: Metrics
on: 
  schedule: 
    - cron: "0 0 * * *"
  workflow_dispatch:
  push: 
    branches: [main, master]

jobs:
  github-metrics:  
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps: 
      - uses: lowlighter/metrics@latest
        with: 
          token: ${{ secrets.METRICS_TOKEN }}
          user: ads6yy
          template: classic
          base: header, activity, community, repositories, metadata
          
          committer_name: ads6yy
          committer_email: 44005081+ads6yy@users.noreply.github.com
          
          plugin_lines: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          
          plugin_notable: yes
          plugin_notable_indepth: yes
          plugin_notable_repositories: yes

          plugin_stars: yes
          plugin_stars_limit: 3
